<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <RecurringIntegrationsScheduler.Properties.Settings>
        <UploadSuccessFolder>UploadSuccess</UploadSuccessFolder>
        <UploadInputFolder>Input</UploadInputFolder>
        <ProcessingSuccessFolder>ProcessingSuccess</ProcessingSuccessFolder>
        <UploadErrorsFolder>UploadErrors</UploadErrorsFolder>
        <ProcessingErrorsFolder>ProcessingErrors</ProcessingErrorsFolder>
        <Users>
          <ArrayOfUser xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <User>
              <Login>admin@contoso.com</Login>
              <Password>pass@word1</Password>
            </User>
          </ArrayOfUser>
        </Users>
        <UpdateSettings>False</UpdateSettings>
        <DownloadErrorsFolder>Errors</DownloadErrorsFolder>
        <AadApplications>
          <ArrayOfAadApplication xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <AadApplication>
              <Name>User impersonation</Name>
              <ClientId>00000000-0000-0000-0000-000000000000</ClientId>
              <Secret />
              <AuthenticationType>User</AuthenticationType>
            </AadApplication>
            <AadApplication>
              <Name>Service to Service</Name>
              <ClientId>00000000-0000-0000-0000-000000000000</ClientId>
              <Secret />
              <AuthenticationType>Service</AuthenticationType>
            </AadApplication>
          </ArrayOfAadApplication>
        </AadApplications>
        <JobGroups>
          <ArrayOfJobGroup xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <JobGroup>
              <Name>Import jobs</Name>
            </JobGroup>
            <JobGroup>
              <Name>Export jobs</Name>
            </JobGroup>
            <JobGroup>
              <Name>Download jobs</Name>
            </JobGroup>
            <JobGroup>
              <Name>Upload jobs</Name>
            </JobGroup>
          </ArrayOfJobGroup>
        </JobGroups>
        <Instances>
          <ArrayOfInstance xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <Instance>
              <Name>Contoso PROD</Name>
              <AosUri>https://contoso.production.operations.dynamics.com</AosUri>
              <AzureAuthEndpoint>https://login.microsoftonline.com</AzureAuthEndpoint>
              <AadTenant>contoso.com</AadTenant>
            </Instance>
          </ArrayOfInstance>
        </Instances>
        <DataJobs>
          <ArrayOfDataJob xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DataJob>
              <Name>Customers import</Name>
              <ActivityId>00000000-0000-0000-0000-000000000000</ActivityId>
              <EntityName>Customers</EntityName>
              <Type>Download</Type>
            </DataJob>
          </ArrayOfDataJob>
        </DataJobs>
      </RecurringIntegrationsScheduler.Properties.Settings>
    </Roaming>
  </userSettings>
</configuration>